<div x-data="{ editingSection: null }" class="mt-6 space-y-4">
    <div x-data="{ firstName: '<%= profile.firstName %>', lastName: '<%= profile.lastName %>' }" class="grid grid-cols-3 pb-2 border-b border-gray-300">
        <div class="flex items-center justify-between col-start-1">
            <div class="font-semibold">Name</div>
        </div>
        <div x-show="editingSection !== 'name'" class="col-start-2 mt-2">
            <span><%= profile.firstName %> <%= profile.lastName %></span>
        </div>
        <form x-show="editingSection === 'name'" method="post" action="/profile/customer/update-profile" @submit="editingSection = null" class="col-start-2 mt-2 ">
            <div class="flex gap-4">
                <div>
                    <label for="firstName" class="block text-gray-700">First name(s)</label>
                    <input type="text" id="firstName" name="firstName" x-model="firstName" class="w-full input input-bordered" placeholder="First name(s)">
                </div>
                <div>
                    <label for="lastName" class="block text-gray-700">Last name(s)</label>
                    <input type="text" id="lastName" name="lastName" x-model="lastName" class="w-full input input-bordered" placeholder="Last name(s)">
                </div>
            </div>
            <div class="flex col-start-3 mt-4">
                <button type="submit" class="mr-2 btn btn-primary">Save</button>
                <button type="button" @click="editingSection = null" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
        <div class="flex justify-between col-start-3">
            <div></div>
            <a href="#" @click.prevent="editingSection = 'name'" x-show="editingSection !== 'name'" class="text-blue-500 hover:underline">Edit</a>
        </div>
    </div>

    <div x-data="{ username: '<%= profile.username %>' }" class="grid grid-cols-3 pb-2 border-b border-gray-300">
        <div class="col-span-1">
            <span class="font-semibold">Display name</span>
        </div>
        <div class="col-span-1">
            <span x-show="editingSection !== 'username'" class="text-gray-500">
                <span x-text="username ? username : 'Set a username now'"></span>
            </span>
            <form x-show="editingSection === 'username'" method="post" action="/profile/customer/update-profile" @submit="editingSection = null" class="mt-2">
                <label for="username" class="block text-sm font-medium text-gray-700">Display name <span class="text-red-500">*</span></label>
                <input type="text" id="username" name="username" x-model="username" class="w-full mt-1 input input-bordered" placeholder="Username">
                <div class="flex mt-4 space-x-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" @click="editingSection = null" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
        <div class="flex items-start justify-end col-span-1">
            <a href="#" @click.prevent="editingSection = 'username'" x-show="editingSection !== 'username'" class="text-blue-500 hover:underline">Edit</a>
        </div>
    </div>

    <div x-data="{ email: '<%= user.email %>' }" class="flex justify-between pb-2 border-b border-gray-300">
        <div>
            <span class="block font-semibold">Email address</span>
            <span x-show="editingSection !== 'email'" class="block text-gray-500">
                <%= user.email ? user.email : 'Email not provided' %>
                <% if (user.verified) { %>
                    <span class="text-green-500">Verified</span>
                <% } else { %>
                    <span class="text-red-500">Not Verified</span>
                <% } %>
            </span>
            <form x-show="editingSection === 'email'" method="post" action="/profile/customer/update-profile" @submit="editingSection = null" class="mt-2">
                <input type="email" name="email" x-model="email" class="w-full max-w-xs input input-bordered" placeholder="Email address">
                <div class="flex mt-2">
                    <button type="submit" class="mr-2 btn btn-primary">Save</button>
                    <button type="button" @click="editingSection = null" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
            <span x-show="editingSection !== 'email'" class="mt-2 text-sm text-gray-500">
                This is the email address you use to sign in. It's also where we send your booking confirmations.
            </span>
        </div>
        <a href="#" @click.prevent="editingSection = 'email'" x-show="editingSection !== 'email'" class="self-start text-blue-500 hover:underline">Edit</a>
    </div>

    <div x-data="{ phone: '<%= profile.phone %>' }" class="flex justify-between pb-2 border-b border-gray-300">
        <div>
            <span class="block font-semibold">Phone number</span>
            <span x-show="editingSection !== 'phone'" class="block text-gray-500">
                <%= profile.phone ? profile.phone : 'Phone number not provided' %>
            </span>
            <form x-show="editingSection === 'phone'" method="post" action="/profile/customer/update-profile" @submit="editingSection = null" class="mt-2">
                <input type="text" name="phone" x-model="phone" class="w-full max-w-xs input input-bordered" placeholder="Phone number">
                <div class="flex mt-2">
                    <button type="submit" class="mr-2 btn btn-primary">Save</button>
                    <button type="button" @click="editingSection = null" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
            <span x-show="editingSection !== 'phone'" class="text-sm text-gray-500">Properties or attractions you book will use this number if they need to contact you.</span>
        </div>
        <a href="#" @click.prevent="editingSection = 'phone'" x-show="editingSection !== 'phone'" class="self-start text-blue-500 hover:underline">Edit</a>
    </div>

    <div x-data="{ dateOfBirth: '<%= profile.dateOfBirth %>' }" class="flex justify-between pb-2 border-b border-gray-300">
        <div>
            <span class="block font-semibold">Date of birth</span>
            <span x-show="editingSection !== 'dateOfBirth'" class="block text-gray-500">
                <%= profile.dateOfBirth ? new Date(profile.dateOfBirth).toLocaleDateString() : 'Date of birth not provided' %>
            </span>
            <form x-show="editingSection === 'dateOfBirth'" method="post" action="/profile/customer/update-profile" @submit="editingSection = null" class="mt-2">
                <input type="date" name="dateOfBirth" x-model="dateOfBirth" class="w-full max-w-xs input input-bordered">
                <div class="flex mt-2">
                    <button type="submit" class="mr-2 btn btn-primary">Save</button>
                    <button type="button" @click="editingSection = null" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
        <a href="#" @click.prevent="editingSection = 'dateOfBirth'" x-show="editingSection !== 'dateOfBirth'" class="self-start text-blue-500 hover:underline">Edit</a>
    </div>

    <div x-data="{ nationality: '<%= profile.nationality %>', countries: [], fetchCountries() { 
        fetch('https://restcountries.com/v3.1/all')
            .then(response => response.json())
            .then(data => {
                this.countries = data.map(country => ({
                    code: country.cca2,
                    name: country.name.common
                })).sort((a, b) => a.name.localeCompare(b.name));
            });
    }}" class="flex justify-between pb-2 border-b border-gray-300">
        <div>
            <span class="block font-semibold">Nationality</span>
            <span x-show="editingSection !== 'nationality'" class="block text-gray-500">
                <%= profile.nationality ? profile.nationality : 'Nationality not provided' %>
            </span>
            <form x-show="editingSection === 'nationality'" method="post" action="/profile/customer/update-profile" @submit="editingSection = null" class="mt-2">
                <select name="nationality" x-model="nationality" class="w-full max-w-xs input input-bordered" @focus="fetchCountries()">
                    <option value="">Select nationality</option>
                    <template x-for="country in countries" :key="country.code">
                        <option :value="country.code" x-text="country.name" :selected="country.code === nationality"></option>
                    </template>
                </select>
                <div class="flex mt-2">
                    <button type="submit" class="mr-2 btn btn-primary">Save</button>
                    <button type="button" @click="editingSection = null" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
        <a href="#" @click.prevent="editingSection = 'nationality'" x-show="editingSection !== 'nationality'" class="self-start text-blue-500 hover:underline">Edit</a>
    </div>

    <div x-data="{ gender: '<%= profile.gender %>' }" class="flex justify-between pb-2 border-b border-gray-300">
        <div>
            <span class="block font-semibold">Gender</span>
            <span x-show="editingSection !== 'gender'" class="block text-gray-500">
                <%= profile.gender ? profile.gender : 'Gender not provided' %>
            </span>
            <form x-show="editingSection === 'gender'" method="post" action="/profile/customer/update-profile" @submit="editingSection = null" class="mt-2">
                <select name="gender" x-model="gender" class="w-full max-w-xs input input-bordered">
                    <option value="MAN" <%= profile.gender === 'MAN' ? 'selected' : '' %>>Man</option>
                    <option value="WOMAN" <%= profile.gender === 'WOMAN' ? 'selected' : '' %>>Woman</option>
                    <option value="OTHER" <%= profile.gender === 'OTHER' ? 'selected' : '' %>>Other</option>
                </select>
                <div class="flex mt-2">
                    <button type="submit" class="mr-2 btn btn-primary">Save</button>
                    <button type="button" @click="editingSection = null" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
        <a href="#" @click.prevent="editingSection = 'gender'" x-show="editingSection !== 'gender'" class="self-start text-blue-500 hover:underline">Edit</a>
    </div>

    <div x-data="{ address: <%= JSON.stringify(address).replace(/</g, '\\u003c') %> }" class="flex justify-between pb-2 border-b border-gray-300">
        <div>
            <span class="block font-semibold">Address</span>
            <% if (address) { %>
                <span x-show="editingSection !== 'address'" class="block text-gray-500">
                    <div><%= address.address %></div>
                    <div><%= address.zip %> <%= address.city %> <%= address.province %></div>
                    <div><%= address.country %></div>
                </span>
            <% } else { %>
                <span x-show="editingSection !== 'address'" class="block text-gray-500">No address provided</span>
            <% } %>
            <form x-show="editingSection === 'address'" method="post" action="/profile/customer/update-address" @submit="editingSection = null" class="mt-2">
                <div class="flex flex-col space-y-4">
                    <div>
                        <label for="country">Country/Region</label>
                        <input type="text" id="country" name="address[country]" x-model="address.country" class="w-full mt-1 input input-bordered" placeholder="Country">
                    </div>

                    <div>
                        <label for="address">Address</label>
                        <input type="text" id="address" name="address[address]" x-model="address.address" class="w-full mt-1 input input-bordered" placeholder="Address">
                    </div>

                    <div class="flex space-x-4">
                        <div class="flex-1">
                            <label for="city">Town/City</label>
                            <input type="text" id="city" name="address[city]" x-model="address.city" class="w-full mt-1 input input-bordered" placeholder="City">
                        </div>

                        <div class="flex-1">
                            <label for="zip">Zip Code</label>
                            <input type="text" id="zip" name="address[zip]" x-model="address.zip" class="w-full mt-1 input input-bordered" placeholder="Zip Code">
                        </div>
                    </div>
                </div>
                <div class="flex mt-4 space-x-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" @click="editingSection = null" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
        <a href="#" @click.prevent="editingSection = 'address'" x-show="editingSection !== 'address'" class="self-start text-blue-500 hover:underline">Edit</a>
    </div>
</div>
