<!DOCTYPE html>
<html lang="en">
<head>
     <%- include ('../partials/global/_head.ejs') %>
</head>
<body>
     <%- include ('../partials/_header.ejs')%>
    <div class="h-full">   
         <%- body %>    
    </div>
     <%- include ('../partials/_footer.ejs') %>
     <%- include ('../partials/global/foot.ejs') %>
</body>
</html>